<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 
        
        <link rel="stylesheet" href="/blog/styles/index.css">
        {% block title %}{% endblock %}
    </head>
    <body>
        
        <nav class="navbar__container">
            <h1>Solani Tech</h1>
            <ul>
                <li><a href="/" class="navbar__navlink">Home</a></li>
                <li><a href="/blog" class="navbar__navlink">Blog</a></li>
            </ul>
        </nav>
        <header class="header">
            {% block header %}{% endblock %}
        </header>

        <main class="main">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
